.cover__link {
  color: white;
  text-decoration: none;
  transition: opacity .1s linear;
  z-index: 1;
  width: 100%;
  min-height: 62.5vw;
}

@media screen and (min-width: 1280px) {

  .cover__link {
    width: 1184px;
    min-height: 740px;
    margin: 0 auto;
  }
}