.page {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color:#2A2C2F;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
}

@media screen and (min-width: 1280px) {
  
  .page  {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 767px) {
  
  .page {
    max-width: 768px;
  }
}