.photo-grid {
  width: 90.625vw;
  display: grid;
  margin: 0 auto;
  grid-template: repeat(auto-fit, 21.97265625vw) / repeat(auto-fit, 29.296875vw);
  gap: 1.3671875vw;
}

@media screen and (min-width: 1280px) {

  .photo-grid {
    width: 1184px;
    grid-template: repeat(auto-fit, 213px) / repeat(auto-fit, 284px);
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) {
  
  .photo-grid {
    width: 93.75vw;
    gap: 16px;
    grid-template: repeat(auto-fit, 34.375vw) / repeat(auto-fit, 45.83333333333333vw);
  }
}

@media screen and (max-width: 767px) {

  .photo-grid {
    width: 90vw;
    gap: 12px;
    grid-template: repeat(auto-fit, 67.5vw) / repeat(auto-fit, 90vw);
  }
}