.places {
  width: 90.625%;
  height: min-content;
  margin: 0 auto;
  padding: 92px 0;
  display: grid;
  grid-template: min-content min-content min-content min-content min-content / 100%;
  row-gap: 80px;
}

@media screen and (min-width: 1280px) {

  .places {
    width: 984px;
  }
}

@media screen and (max-width: 1023px) {

  .places {
    width: 93.75%;
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {

  .places {
    width: 100%;
    padding: 64px 0 66px;
    row-gap: 50px;
  }
}