/* улучшение шрифтов и настройка для падингов */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
/* импортирование обычного шрифта */
@font-face {
  font-family: "Inter";
  src: url(../vendor/fonts/Inter-Regular.woff) format("woff"),
    url(../vendor/fonts/Inter-Regular.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Regular.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Regular.svg) format("svg");
}
/* импортирование жирного шрифта */
@font-face {
  font-family: "Black";
  src: url(../vendor/fonts/Inter-Black.woff) format("woff"),
    url(../vendor/fonts/Inter-Black.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Black.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Black.svg) format("svg");
}
/* тип сайта */
.page {
  background-color: #2a2c2f;
  min-width: 1280px;
  color: #ffffff;
  padding: 28px 48px 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 56px;
  width: 1184px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  margin-left: 18px;
  margin-bottom: 0;
  width: 30px;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  transition: opacity .1s linear;
}

.header__link:first-child {
  margin-left: auto;
}

.header__lang-link:hover {
  opacity: 0.8;
   /* я бы для красоты сделал 45%, но раз 0.8, то пусть будет :( */
}

.header__lang-link:active {
  text-decoration: underline;
}

/* lead */
.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: 56px auto 92px;
}

.lead__title {
  margin: 0 auto;
  font-family: "Black", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
  height: 72px;
}

.lead__img {
  margin-bottom: 6px;
  padding: 0;
  max-width: 984px;
  max-height: 615px;
}

.lead__caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* width: 158px;
  height: 14px; */
}
/* intro */
.intro {
  margin: 92px auto;
  width: 984px;
  height: 429px;
}

.intro__title {
  font-style: normal;
  font-family: "Black";
  font-size: 54px;
  line-height: 58px;
  width: 690px;
  margin: 0;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
  width: 690px;
}

.intro__number {
  font-weight: normal;
}

.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 690px;
}
/* photo-grid */
.photo-grid {
  max-width: 1184px;
  max-height: 671px;
  display: grid;
  gap: 16px;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  margin: 0 auto;
}

.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}
/* places */
.places {
  width: 984px;
  height: 3392px;
  margin: 92px auto;
  display: grid;
  grid-template: 660px 584px 584px 660px 584px / 984px;
  row-gap: 80px;
  padding: 0;
}

.place {
  display: grid;
  /* margin: 92px auto; */
  grid-template-areas:
    "title website"
    "img text";
    row-gap: 48px;
    column-gap: 40px;
    /* margin-bottom: 80px; */
}

.place__img {
  max-width: 460px;
  max-height: 460px;
  grid-area: "img";
}

/* .place:last-child {
  margin-bottom: 92px;
} */

.place__title {
  font-family: "Inter Black", Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 1.06;
  width: 460px;
  grid-area: title;
  margin: 0;
}

.place__website {
  width: 456px;
  height: 46px;
  grid-area: website;
  align-self: end;
  margin: 0;
}

.place__url-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color:#AAAAAA;
  margin: 0 0 12px;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: white;
  transition: opacity .1s linear;
}

.place__link:hover {
  opacity: 0.8;
   /* я бы для красоты сделал 45%, но раз 0.8, то пусть будет :( */
}

.place__text {
  grid-area: text;
}

.place__paragraph {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin: 0;
}

/* cover */
.cover {
  position: relative;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cover::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity .9s linear;
}

.cover:hover::before {
  opacity: 0.8;
   /* я бы для красоты сделал 45%, но раз 0.8, то пусть будет :( */
}

.cover__title {
  font-family: "Black", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
  max-height: 152px;
  margin: 245px auto 0px;
  z-index: 1;
}

.cover__link {
  color: white;
  text-decoration: none;
}

.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;
  max-height: 66px;
  margin: 32px auto 0px;
  z-index: 1;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
  max-width: 1184px;
  max-height: 18px;
}

.footer__links  {
  margin: 0;
  padding: 0;
  height: 18px;
}

.footer__link {
  margin: 0 15px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  transition: opacity .1s linear;
  text-decoration: none;
}

.footer__link:last-child{
  margin-right: 0;
} 

.footer__link:hover {
  opacity: 0.8;
   /* я бы для красоты сделал 45%, но раз 0.8, то пусть будет :( */
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width:1279px) {
  
  .page {
    min-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    max-width: 928px;
    margin: 0 auto 48px;
  }

  .lead {
    max-width: 928px;
    max-height: 962px;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }

  .lead__img {
    max-width: 928px;
    max-height: 580px;
    display: block;
    margin: 0 auto 8px;
  }

  .photo-grid {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    row-gap: 14px;
    column-gap: 14px;
    max-width: 928px;
    max-height: 942px;
  }

  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }

  .places {
    max-width: 928px;
    max-height: 3292px;
    grid-template: 640px 564px 564px 640px 564px / 984px;
  }

  .place__img {
    max-width: 440px;
    max-height: 440px;
  }

  .place {
    max-width: 928px;
    max-height: 640px;
    column-gap: 32px;
    row-gap: 48px;
  }

  .place__title {
    max-width: 440px;
  }

  .cover {
    max-width: 100%;
    height: 640px;
    /* margin: 0 -48px; */
  }

  .cover__title {
    margin: 195px auto 0;
  }

  .footer {
    padding: 0 48px;
  }
  
}

@media screen and (max-width: 1023px) {
  
  .page {
    min-width: 768px;
  }

  .header {
    max-width: 93.75%;
    margin: 28px auto 56px;
  }

  .lead {
    max-width: 100%;
  }

  .lead__img {
    max-width: 100%;
    max-height: 62.5%;
    margin: 0;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    max-width: 93.75%;
    margin: 88px auto;
  }

  .photo-grid {
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 93.75%;
    max-height: 23.11111111111111111%;
  }

  .photo-grid__item {
    max-height: 100%;
    max-width: 100%;
  }

  .places {
    width: 93.75%;
    height: 390%;
    margin: 88px auto 90px;
    grid-template: 581px 535px 483px 434px 484px / 720px;
    row-gap: 73px;
  }
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }
  .place {
    row-gap: 48px;
    column-gap: 28px;
  }
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
}
  
