* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(../vendor/fonts/Inter-Regular.woff) format("woff"),
    url(../vendor/fonts/Inter-Regular.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Regular.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Regular.svg) format("svg");
}

@font-face {
  font-family: "Black";
  src: url(../vendor/fonts/Inter-Black.woff) format("woff"),
    url(../vendor/fonts/Inter-Black.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Black.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Black.svg) format("svg");
}

.page {
  background-color: #2a2c2f;
  min-width: 1280px;
  color: #ffffff;
  padding: 28px 48px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  margin-left: 18px;
  margin-bottom: 0;
  width: 30px;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header__link:first-child {
  margin-left: auto;
}

.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: 56px auto 92px;
}

.lead__title {
  margin: 0 auto;
  font-family: "Black", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
  height: 72px;
}

.lead__img {
  margin-bottom: 6px;
  padding: 0;
  width: 984px;
  height: 615px;
}

.lead__caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* width: 158px;
  height: 14px; */
}

.intro {
  margin: 92px auto;
  width: 984px;
  height: 429px;
}

.intro__title {
  font-style: normal;
  font-family: "Black";
  font-size: 54px;
  line-height: 58px;
  width: 690px;
  margin: 0;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
  width: 690px;
}

.intro__number {
  font-weight: normal;
}

.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 690px;
}

.photo-grid {
  width: 1184px;
  height: 671px;
  display: grid;
  gap: 16px;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  margin: 0 auto;
}

.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}

.places {
  max-width: 984px;
  max-height: 3392px;
  margin: 92px auto;
}

.place {
  display: grid;
  /* margin: 92px auto; */
  grid-template-areas:
    "title website"
    "img text";
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.place__img {
  width: 460px;
  height: 460px;
  grid-area: "img";
}

.place__title {
  font-family: "Black";
  font-size: 72px;
  line-height: 1.06;
  max-width: 460px;
  grid-area: title;
  margin: 0;
}

.palace__text {
  width: 484px;
  height: 145px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  grid-area: text;
}

.place__website {
  width: 456px;
  height: 46px;
  grid-area: website;
  align-self: end;
  margin: 0;
}

.place__url-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color:#AAAAAA;
  margin: 0 0 12px;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: white;
}

.place__text {
  grid-area: text;
}

.place__paragraph {
  margin: 0 0 26px;
  font-family: "Inter";
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.cover {
  position: relative;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cover::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cover__title {
  font-family: "Black", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
  max-height: 152px;
  margin: 245px auto 0px;
  z-index: 1;
}
.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;
  max-height: 66px;
  margin: 32px auto 0px;
  z-index: 1;
}