/* body {
  background-color: #2a2c2f;
  min-width: 1280px;
  color: #ffffff;
  font-family: Inter;
} */

@font-face {
  font-family: "Inter";
  src: url(../vendor/fonts/Inter-Regular.woff) format("woff"),
    url(../vendor/fonts/Inter-Regular.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Regular.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Regular.svg) format("svg");
}

@font-face {
  font-family: "Black";
  src: url(../vendor/fonts/Inter-Black.woff) format("woff"),
    url(../vendor/fonts/Inter-Black.woff2) format("woff2"),
    url(../vendor/fonts/Inter-Black.ttf) format("ttf"),
    url(../vendor/fonts/Inter-Black.svg) format("svg");
}

.page {
  background-color: #2a2c2f;
  min-width: 1280px;
  color: #ffffff;
  padding: 28px 48px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  margin-left: 18px;
  margin-bottom: 0;
  width: 30px;
  height: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header__link:first-child {
  margin-left: auto;
}

.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: 56px auto 92px;
}

.lead__title {
  margin: 0 auto;
  font-family: "Black", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
  height: 72px;
}

.lead__img {
  margin-bottom: 6px;
  padding: 0;
  width: 984px;
  height: 615px;
}

.lead__caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  /* width: 158px;
  height: 14px; */
}

.intro {
  margin: 92px auto;
  width: 984px;
  height: 429px;
}

.intro__title {
  font-style: normal;
  font-family: "Black";
  font-size: 54px;
  line-height: 58px;
  width: 690px;
  margin: 0;
}

.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
  width: 690px;
}

.intro__number {
  font-weight: normal;
}

.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 690px;
}

.photo-grid {
  margin: 0 48px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

.places {
  display: grid;
  grid-template-areas:
    "title url"
    "img text";
}
