.cover__subtitle {
  width: 35.15625%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 3.125vw auto 0;
  z-index: 1;
}

@media screen and (min-width: 1280px) {

  .cover__subtitle {
    width: 360px;
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 1023px) {

  .cover__subtitle {
    width: 46.875vw;
  }
}

@media screen and (max-width: 767px) {

  .cover__subtitle {
    width: 90vw;
    font-size: 14px;
    line-height: 1.14;
    margin: 5vw 5vw 0;
  }
}