.lead__title {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  width: 70.3125vw;
}

@media screen and (min-width: 1280px) {

  .lead__title {
    width: 720px;
    font-style: normal;
  }
}

@media screen and (max-width: 1023px) {
  
  .lead__title {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {

  .lead__title {
    width: 90vw;
    font-size: 40px;
    font-size: calc(40px + 56 * ((100vw - 320px) / (768 - 320)));
    line-height: 1.1;
  }
}