.place__paragraph {
  margin: 0 0 27px;
  grid-area: text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {

  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {

  .place__paragraph {
    font-size: 16px;
    margin: 0 16px 25px;
  }
}