.intro {
  width: 90.625%;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (min-width: 1280px) {

  .intro {
    width: 984px;
  }
}

@media screen and (max-width: 1023px) {
  
  .intro {
    width: 93.75%;
    margin: 0 auto;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {

  .intro {
    width: 90vw;
    padding: 0 0 16px;
    margin: 0 16px;
  }
}