.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  color: white;
  transition: opacity .1s linear;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {

  .place__link {
    font-size: 18px;
    line-height: 1.22;
  }
}