.lead__caption {
  width: 17.13362068965517%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  
  .lead__caption{
    width: 20.703125%;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {

  .lead__caption {
    width: 49.6875vw;
    margin-left: 16px;
  }
}