.intro__title {
  width: 74.35344827586207%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

@media screen and (min-width: 1280px) {

  .intro__title {
    width: 690px;
  }
}

@media screen and (max-width: 1023px) {
  
  .intro__title{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .intro__title {
    font-size: calc(32px + 10 * ((100vw - 320px) / (768 - 320)));
    line-height: 1.09;
  }
}